.danger {
    background-color: rgba(255, 50, 50, .6)
}

.success {
    background-color: rgba(50, 255, 50, .6);
}

.buttons {
    padding: 20px 0 20px 0;
}

.data {
    border-radius: 5px;
}

.data .col {
    border-radius: 5px;
    padding: 10px;
}

.data:nth-of-type(odd) {
    background-color: #f0f0f0;
}